# Ignore everything
/*

# Un-ignore utility stuff
!.editorconfig
!composer.json
!composer.lock
!package.json
!package-lock.json
!bin/
!assets/
!.gitignore
!.env-example

# Including wordpress stuff
!wordpress-core
wordpress-core/*
!wordpress-core/wp-content
wordpress-core/wp-content/*
!wordpress-core/wp-content/plugins
wordpress-core/wp-content/plugins/*
!wordpress-core/wp-content/themes
wordpress-core/wp-content/themes/*
!wordpress-core/wp-content/themes/streamatemodels
!wordpress-core/wp-content/themes/streamatemodels/
!wordpress-core/wp-content/themes/streamatemodels-fr/
!wordpress-core/wp-content/themes/streamatemodels-br/
!wordpress-core/wp-content/themes/streamatemodels-it/
!wordpress-core/wp-content/themes/streamatemodels-nl/
wordpress-core/wp-content/themes/streamatemodels/style.css

# Un-ignoring necessary files
!wordpress-core/wp-config.php

# Un-ignoring must have plugins
!wordpress-core/wp-content/plugins/sls-plugins
